{#
***************************************************************************************************

* Template: overview.html
* URL: /products/:product_id
* Purpose: Edit a product's properties

***************************************************************************************************

Input parms:
- product (list):
    - id
    - name
    - description
    - product_categories_sub_id
    - product_categories_sub_name
    - product_categories_minor_id
    - product_categories_minor_name
    - product_categories_major_id
    - product_categories_major_name
    - location_id
    - location_city
    - location_state_id
    - location_state_name
    - dropoff_distance
    - price_full
    - price_half
    - image
    - created_on
    - user_id
    - user_email
    - user_name_first
    - user_name_last

***************************************************************************************************
#}

<!doctype html>
<html lang="en">

<head>
    {% include 'includes/header.html' %}
    <title>{{ product.name }}</title>
</head>

<body>
    {% include 'includes/navbar.html' %}
    {% include 'pages/products/product/product-navbar.html' %}

    <div class="container pb-3">
        <form class="form-new-product my-5">
            <div class="tab-content form-new-product-pages">
                <p class="subtitle text-primary mb-3">EDIT YOUR PRODUCT</p>

                <!-- category -->
                <div class="tab-pane show active" id="form-new-product-page-category" data-step-prev="1" data-step-next="2">
                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                        <h2>Categories</h2>
                        <h2 class="text-muted">Step 1</h2>
                    </div>
                    <hr>
                    <div class="row mt-5">
                        <div class="col-lg-4">
                            <h4>Category</h4>
                            <p class="text-muted text-sm">Select a category that best describes your product. This will help renters find and book your listing.</p>
                        </div>
                        <div class="col-lg-8">
                            <!-- major -->
                            <div class="form-group mb-4">
                                <label for="form-new-product-input-category-major">Major</label>
                                <select class="form-control form-new-product-input selectpicker" title="Choose..." id="form-new-product-input-category-major" disabled>
                                    {% if product.product_categories_major_id %}
                                    <option value="{{ product.product_categories_major_id }}" selected>{{ product.product_categories_major_name }}</option>
                                    {% endif %}
                                </select>
                                <div class="invalid-feedback">Invalid feedback text</div>
                            </div>

                            <!-- minor -->
                            <div class="form-group mb-4">
                                <label for="form-new-product-input-category-minor">Minor</label>
                                <select class="form-control form-new-product-input selectpicker" title="Choose..." id="form-new-product-input-category-minor" disabled>
                                    {% if product.product_categories_minor_id %}
                                    <option value="{{ product.product_categories_minor_id }}" selected>{{ product.product_categories_minor_name }}</option>
                                    {% endif %}
                                </select>
                                <div class="invalid-feedback">Invalid feedback text</div>
                            </div>

                            <!-- sub -->
                            <div class="form-group mb-3">
                                <label for="form-new-product-input-category-sub">Sub</label>
                                <select class="form-control form-new-product-input selectpicker" title="Choose..." id="form-new-product-input-category-sub" disabled>
                                    {% if product.product_categories_sub_id %}
                                    <option value="{{ product.product_categories_sub_id }}" selected>{{ product.product_categories_sub_name }}</option>
                                    {% endif %}
                                </select>
                                <div class="invalid-feedback">Invalid feedback text</div>
                            </div>

                            <!-- reset the category dropdowns -->
                            <button type="button" class="btn btn-sm btn-outline-danger float-right" id="form-new-product-btn-category-reset">Reset</button>

                        </div>
                    </div>
                    <hr>
                </div>


                <!-- location -->
                <div class="tab-pane" id="form-new-product-page-location" data-step-prev="1" data-step-next="3">
                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                        <h2>Location</h2>
                        <h2 class="text-muted">Step 2</h2>
                    </div>
                    <hr>

                    <!-- city and state -->
                    <div class="row mt-5">
                        <div class="col-lg-4">
                            <h4>Location</h4>
                            <p class="text-muted text-sm">Where are you storing your product?</p>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label for="form-new-product-input-location">City and state</label>
                                <div class="input-group input-group-search">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class='bx bx-search'></i></span>
                                    </div>
                                    <select class="form-control form-new-product-input" id="form-new-product-input-location" placeholder="Search">
                                        {% if product.location_id %}
                                        <option value="{{ product.location_id }}" selected>{{ product.location_city }}, {{ product.location_state_name }}</option>
                                        <!-- {{ product.description }} -->
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="invalid-feedback">Invalid feedback text</div>
                                <p class="text-muted mt-2"><small>The exact address won’t be shared until the guest’s reservation is confirmed.</small></p>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <!-- dropoff distance -->
                    <div class="row mt-5">
                        <div class="col-lg-4">
                            <h4>Dropoff distance</h4>
                            <p class="text-muted text-sm">How many miles will you drive to dropoff your product?</p>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label for="form-new-product-input-dropoff-distance">Number of miles</label>

                                <input class="form-control form-new-product-input" id="form-new-product-input-dropoff-distance" type="text" inputmode="decimal" value="{{ product.dropoff_distance or '' }}">
                                <div class="invalid-feedback">Invalid feedback text</div>
                            </div>
                        </div>
                    </div>

                    <hr>
                </div>


                <!-- Renter Info -->
                <div class="tab-pane" id="form-new-product-page-renter-info" data-step-prev="2" data-step-next="4">
                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                        <h2>Requirements</h2>
                        <h2 class="text-muted">Step 3</h2>
                    </div>
                    <hr>
                    <div class="row mt-5">

                        <div class="col-lg-4">
                            <h4>Who can rent your product?</h4>
                            <p class="text-muted text-sm">Keep in mind that someone booking your experience might book spots for other guests. If there are strict requirements around age, skill level, or certifications, include them here.</p>
                        </div>
                        <div class="col-lg-8">

                            <!-- minimum age requirement -->
                            <div class="form-group mb-4">
                                <label for="form-new-product-input-minimum-age">Minimum age</label>
                                <select class="form-control form-new-product-input selectpicker" id="form-new-product-input-minimum-age">
                                    <option value="">None</option>
                                    {% for x in range(21, 1, -1) %}
                                    {% if product.minimum_age == x %}
                                    <option value="{{ x }}" selected>{{ x }}</option>
                                    {% else %}
                                    <option value="{{ x }}">{{ x }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">Invalid feedback text</div>
                                <p class="text-muted mt-2"><small>Do you require a minimum age for renters?</small></p>
                            </div>

                        </div>
                    </div>
                    <hr>
                </div>


                <!-- photos -->
                <div class="tab-pane" id="form-new-product-page-photos" data-step-prev="3" data-step-next="5">

                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                        <h2>Photos</h2>
                        <h2 class="text-muted">Step 4</h2>
                    </div>
                    <hr>

                    <div class="row mt-5">
                        <div class="col-lg-4">
                            <h4>Cover photo</h4>
                            <p class="text-muted text-sm">Your main product photo.</p>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group form-group-image" data-img-src="{{ product.image or '-1' }}">
                                <input type="file" class="form-new-product-input" id="form-new-product-input-cover-photo">
                            </div>

                            <button type="button" class="float-right btn btn-sm btn-success form-new-product-btn-save-img" id="form-new-product-btn-save-img-cover" disabled>Save</button>

                        </div>
                    </div>

                    <hr>

                    <div class="row mt-5">
                        <div class="col-lg-4">
                            <h4>Additional Photos</h4>
                            <p class="text-muted text-sm">Add up to 5 more photos of your product.</p>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <input type="file" class="form-new-product-input" id="form-new-product-input-photos">
                            </div>
                            <button type="button" class="float-right btn btn-sm btn-success" id="form-new-product-btn-save-img-imgs">Save</button>
                        </div>
                    </div>

                    <hr>
                </div>


                <!-- name and description -->
                <div class="tab-pane" id="form-new-product-page-name-desc" data-step-prev="4" data-step-next="6">

                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                        <h2>Texts</h2>
                        <h2 class="text-muted">Step 5</h2>
                    </div>
                    <hr>

                    <!-- name -->
                    <div class="row mt-5">
                        <div class="col-lg-4">
                            <h4>Name</h4>
                            <p class="text-muted text-sm">Give your product a name</p>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <input class="form-control form-new-product-input" id="form-new-product-input-name" type="text" value="{{product.name or ''}}">
                                <div class="invalid-feedback">Invalid feedback text</div>
                                <p class="text-muted mt-2"><small>Make it short, descriptive, and exciting.</small></p>
                            </div>
                        </div>
                    </div>
                    <hr>


                    <!-- description -->
                    <div class="row mt-5">
                        <div class="col-lg-4">
                            <h4>Description</h4>
                            <p class="text-muted text-sm">Your product description is a chance to inspire renters to reserve your listing.</p>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label for="form-new-product-input-description">Describe your product to renters</label>
                                <textarea class="form-control form-new-product-input" id="form-new-product-input-description" rows="7">{{product.description or ''}}</textarea>
                                <div class="invalid-feedback">Invalid feedback text</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>


                <!-- price -->
                <div class="tab-pane" id="form-new-product-page-price">
                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                        <h2>Pricing</h2>
                        <h2 class="text-muted">Step 6</h2>
                    </div>
                    <hr>
                    <div class="row mt-5">
                        <div class="col-lg-4">
                            <h4>Full day</h4>
                            <p class="text-muted text-sm">Total price for a full day.</p>
                        </div>
                        <div class="col-lg-8">

                            <!-- full day price -->
                            <div class="form-group">
                                <label for="form-new-product-input-price-full">How much to rent for the day?</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>

                                    {% if product.price_full %}
                                    <input class="form-control form-new-product-input" id="form-new-product-input-price-full" type="text" inputmode="decimal" value="{{ '{0:.2f}'.format(product.price_full) }}">
                                    {% else %}
                                    <input class="form-control form-new-product-input" id="form-new-product-input-price-full" type="text" inputmode="decimal">
                                    {% endif %}
                                </div>
                                <div class="invalid-feedback">Invalid feedback text</div>
                                <p class="text-muted mt-2"><small></small></p>
                            </div>

                        </div>
                    </div>
                    <hr>

                </div>
            </div>

            <!-- form step buttons and navbar -->
            <div class="form-new-product-step-btns d-flex justify-content-between align-items-center">
                <!-- previous button -->
                <button type="button" data-page-location="1" class="btn btn-text-light form-new-product-btn-step d-flex" id="form-new-product-btn-step-prev">
                    <div class="icon"><i class='bx bx-arrow-back'></i></div>
                    <div class="label">Previous</div>
                </button>

                <!-- navbar -->
                <ul class="nav nav-pills form-new-product-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-toggle="tab" href="#form-new-product-page-category" role="tab" data-step-prev="1" data-step-next="2">Category</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="tab" href="#form-new-product-page-location" role="tab" data-step-prev="1" data-step-next="3">Location</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="tab" href="#form-new-product-page-renter-info" role="tab" data-step-prev="2" data-step-next="4">Renter Info</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="tab" href="#form-new-product-page-photos" role="tab" data-step-prev="3" data-step-next="5">Photos</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="tab" href="#form-new-product-page-name-desc" role="tab" data-step-prev="4" data-step-next="6">Name and Description</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link " data-toggle="tab" href="#form-new-product-page-price" role="tab" data-step-prev="5" data-step-next="submit">Price</a>
                    </li>
                </ul>

                <!-- next page button -->
                <button type="button" data-page-location="2" class="btn btn-text-primary form-new-product-btn-step" id="form-new-product-btn-step-next">
                    <div class="label">Next</div>
                    <div class="icon"><i class='bx bx-right-arrow-alt'></i></div>
                </button>

                <!-- submit button -->
                <button type="button" class="btn btn-primary form-new-product-btn-submit d-none">Save</button>
            </div>
        </form>

    </div>


    <div class="mb-5"></div>
    <div class="mb-5"></div>
    <div class="mb-5"></div>

    {% include 'includes/footer.html' %}
    <script src="/static/js/pages/products/product/overview.js"></script>
</body>

</html>