{#
***************************************************************************************************

* Template: products.html
* URL:      /products
* Purpose:  To display all of a user's products

***************************************************************************************************

Input parms:
    - products: list of products with fields:
        - id
        - name
        - description
        - product_categories_sub_id
        - product_categories_sub_name
        - product_categories_minor_id
        - product_categories_minor_name
        - product_categories_major_id
        - product_categories_major_name
        - location_id
        - location_city
        - location_state_id
        - location_state_name
        - dropoff_distance
        - price_full
        - price_half
        - image
        - created_on
        - user_id
        - user_email
        - user_name_first
        - user_name_last

***************************************************************************************************
#}


<!doctype html>
<html lang="en">

<head>
    {% include 'includes/header.html' %}
    <title>Your products</title>
</head>

<body>
    {% include 'includes/navbar.html' %}
    <div class="container">

        <div class="toolbar mt-5 mb-3">
            <h2>Your products</h2>
            <a href="/products/new" role="button" class="btn btn-primary">Create new product</a>
        </div>

        <!-- where all the products will be displayed -->
        <div id="lender-product-listings" class="mt-4">
            
            {% for product in products %}
                <div class="card card-user-product mb-5" data-product-id="{{ product.id }}">
                    <div class="row no-gutters">
                        
                        <!-- cover image -->
                        <div class="container-imgs col-md-4 col-sm-12 ">
                            <a href="/products/{{ product.id }}" class="h-100 w-100">
                                <div class="container-img-pics w-100 h-100" style="background-image: url('{{ product.image }}');"></div>
                            </a>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="card-body p-4 h-100">
                                <div class="d-flex align-items-center justify-content-between">

                                    <!-- name -->
                                    <h4 class="card-lender-product-detail">{{ product.name }}</h4>
                
                                    <div class="dropdown">
                                        <button class="btn btn-sm no-focus-outline" type="button" data-toggle="dropdown">
                                            <i class='bx bx-dots-horizontal-rounded'></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="/products/{{ product.id }}/availability">Availability</a>
                                            <a class="dropdown-item" href="/products/{{ product.id }}">Edit</a>
                                            <a class="dropdown-item" href="#">View Listing</a>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- location -->
                                <p class="card-text text-muted">{{ product.location_city }}, {{ product.location_state_id }}</p>
                                
                                <!-- rating -->
                                <div class="product-rating mb-2">
                                    <i class='bx bxs-star rating-star rating-star-filled'></i>
                                    <i class='bx bxs-star rating-star rating-star-filled'></i>
                                    <i class='bx bxs-star rating-star rating-star-filled'></i>
                                    <i class='bx bxs-star-half rating-star rating-star-filled'></i>
                                    <i class='bx bxs-star rating-star'></i>
                                    <span class="badge badge-pill badge-dark ml-2">3.6</span>
                                </div>
                
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <!-- full day price -->
                                        <div><small class="text-muted font-weight-light">Full Day</small></div>
                                        <div class="h5 text-secondary">
                                            {% if product.price_full %}
                                                ${{ "{0:.2f}".format(product.price_full) }}
                                            {% else %}
                                            &mdash;
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6">
                                        <!-- category -->
                                        <div><small class="text-muted font-weight-light">Category</small></div>
                                        <div class="h5 text-secondary text-truncate">{{ product.product_categories_sub_name }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    {% include 'includes/footer.html' %}
    <script src="/static/js/classes/ProductLender.js"></script>
    <script src="/static/js/pages/products/products.js"></script>

</body>

</html>