{#
***************************************************************************************************

* Template: requests.html
* URL: /products/requests
* Purpose: To display all the product requests a lender has received

***************************************************************************************************

Input parms:

data

***************************************************************************************************
#}


{% extends "pages/products/base.html" %}
{% block title %}Product Requests{% endblock %}


{% block content %}

<div class="toolbar mb-3">
    <h2>Product requests</h2>
</div>

<!-- where all the products will be displayed -->
<div class="mt-4">

    <p>This is where my requests will go</p>

    <ul>
        
        {% for request in data %}
            <li>{{ request.id }} - {{ request.payout }}</li>
        {% endfor %}
    </ul>



</div>

{% endblock %}


{% block footer %}
<script src="/static/js/pages/products/requests.js"></script>
{% endblock %}


