{#
***************************************************************************************************

* Template: requests.html
* URL: /products/requests
* Purpose: To display all the product requests a lender has received

***************************************************************************************************

Input parms -> data (list):
    - created_on
    - ends_on
    - expires_on
    - id
    - location_city
    - location_id
    - location_state_id
    - location_state_name
    - payout
    - product_id
    - product_name
    - starts_on
    - status

***************************************************************************************************
#}


{% extends "pages/products/base.html" %}
{% block title %}Product Requests{% endblock %}


{% block content %}

<div class="toolbar mb-3">
    <h2>Product requests</h2>
</div>

<!-- where all the products will be displayed -->
<div class="mt-4">

    <p>This is where my requests will go</p>

    
        
    {% for request in data %}
        
        <div class="card product-request">
            <div class="card-body">

                <div class="product-request-id">{{ request.id }}</div>
                <div class="product-request-id">{{ request.product_name }}</div>
                <div class="product-request-id">{{ request.starts_on }}</div>
                <div class="product-request-id">{{ request.ends_on }}</div>
                <div class="product-request-id">{{ request.location_id }}</div>
                <div class="product-request-id">{{ request.status }}</div>


            </div>

        </div>



    {% endfor %}
    



</div>

{% endblock %}


{% block footer %}
<script src="/static/js/pages/products/requests.js"></script>
{% endblock %}


