<!doctype html>
<html lang="en">

<head>
    {% include 'includes/header.html' %}
    <title>WMIYS</title>
</head>

<body>
    {% include 'includes/navbar.html' %}
    <div class="container">

        <h1 class="mt-5 text-center">What's mine is yours</h1>


        <form id="product-search-form">

            <!-- location -->
            <div class="form-group">
                <label for="product-search-form-input-location">City and state</label>
                <select class="form-control product-search-form-input" id="product-search-form-input-location" placeholder="Search"></select>
                <div class="invalid-feedback">Invalid feedback text</div>
            </div>

            <!-- date range -->
            <div class="form-group">
                <label for="product-search-form-input-dates">Dates</label>
                <input type="text" class="form-control product-search-form-input" id="product-search-form-input-dates">
            </div>

            <!-- product category sub -->
            <div class="dropdown" id="product-search-form-input-category" data-product-category-sub-id="-1">
                <button class="btn btn-light dropdown-toggle" type="button"  data-toggle="dropdown">Category</button>
                <div class="dropdown-menu"></div>
            </div>




        </form>

        <button type="button" class="btn btn-primary mt-5" onclick="getTheValues()">Get values</button>



    </div>


    {% include 'includes/footer.html' %}
    <script src="static/js/classes/Dropdown.js"></script>
    <script src="static/js/pages/home.js"></script>

</body>

</html>