<!doctype html>
<html lang="en">

<head>
    {% include 'header.html' %}
    <title>Your products</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">

        <div class="toolbar mt-5 mb-3">
            <h2>Your products</h2>
            <a href="/products/new" role="button" class="btn btn-primary">Create new product</a>
        </div>

        <!-- where all the products will be displayed -->
        <div id="lender-product-listings" class="mt-4"></div>
    </div>


    {% include 'footer.html' %}
    <script src="/static/js/classes/ProductLender.js"></script>
    <script src="/static/js/products.js"></script>

</body>

</html>