{#
***************************************************************************************************
Input parms:
    - productCategories:
        - (list) major
            - id
            - name
        - (list) minor
            - id
            - name
            - parent_id
        - (list) sub
            - id
            - name
            - parent_id
    - urlParms:
        - location_id
        - starts_on
        - ends_on

***************************************************************************************************
#}

{% set urlPrefix = '/search/products/categories' %}

<div class="card card-body sidenav">
    <h6 class="text-muted">Filters</h6>

    <div class="sidenav-filter-categories">
        <button class="btn btn-sm btn-outline-secondary w-100 my-2" data-toggle="collapse" data-target=".sidenav-filter-categories-lists">Categories</button>

        <div class="sidenav-filter-categories-lists collapse show">
            <ul class="sidenav-filter-categories-list">
                {% for categoryMajor in data.productCategories.major %}
                    <li class="sidenav-filter-categories-list-item major child-list-visible text-muted" data-id="{{ categoryMajor.id }}">
                        <a class="text-reset" href="{{ urlPrefix }}/major/{{ categoryMajor.id }}?{{ data.query_string }}">{{ categoryMajor.name }}</a>
                        <button type="button" class="btn btn-sm sidenav-filter-categories-list-btn-collapse"><i class='bx bx-chevron-up'></i></button>
                    </li>
                    
                    <ul class="sidenav-filter-categories-list collapse" data-parent-id="{{ categoryMajor.id }}">
                        {% for categoryMinor in data.productCategories.minor %}
                            {% if categoryMinor.parent_id == categoryMajor.id %}
                                <li class="sidenav-filter-categories-list-item minor text-muted" data-id="{{ categoryMinor.id }}">
                                    <a class="text-reset" href="{{ urlPrefix }}/minor/{{ categoryMinor.id }}?{{ data.query_string }}">{{ categoryMinor.name }}</a>
                                    <button type="button" class="btn btn-sm sidenav-filter-categories-list-btn-collapse"><i class='bx bx-chevron-up'></i></button>
                                </li>
                            
                                <ul class="sidenav-filter-categories-list collapse" data-parent-id="{{ categoryMinor.id }}">
                                    {% for categorySub in data.productCategories.sub %}
                                        {% if categorySub.parent_id == categoryMinor.id %}
                                            <li class="sidenav-filter-categories-list-item sub text-muted" data-id="{{ categorySub.id }}">
                                                <a class="text-reset" href="{{ urlPrefix }}/sub/{{ categorySub.id }}?{{ data.query_string }}">{{ categorySub.name }}</a>
                                            </li>
                                        {% endif %}
                                    
                                    {% endfor %}
                                </ul>
                            
                            {% endif %}
                        
                    {% endfor %}
                </ul>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>




