body {
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Rubik", sans-serif;
}

.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.my-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

body {
  background-color: white;
}

.form-sm-wrapper {
  width: 500px;
}

.form-new-product-step-btns {
  margin-top: 40px;
}

.form-new-product .progress {
  height: 10px;
}

.btn-text-primary {
  color: #f62dae;
}

.btn-text-secondary {
  color: #7189ff;
}

.btn-text-light {
  color: darkgrey;
}

input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select:focus,
textarea {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .form-new-product-tabs {
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
  }
}
.input-group-search {
  border: 1px solid #ced4da;
}

.input-group-search .form-control,
.input-group-search .input-group-text {
  border: none;
}

.input-group-search .input-group-text {
  background-color: inherit;
}

.input-group-search .form-control:focus {
  box-shadow: none;
}

.input-group-search .select2-container--bootstrap4.select2-container--focus .select2-selection {
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-group-search .select2-container--bootstrap4 .select2-selection {
  border: none;
}

.input-group-search .select2-selection__arrow {
  display: none;
}

.input-group-search.is-invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.no-focus-outline:focus {
  box-shadow: none;
}

.card-user-product .container-img-pics {
  background-size: cover;
}

.card-user-product .dropdown i {
  font-size: 24px;
}

.card-user-product .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .container-imgs {
    height: 200px !important;
    width: 100%;
  }
}
.rating-star {
  color: grey;
}

.rating-star-filled {
  color: gold;
}

#coming-soon {
  background-image: url("../img/coming-soon-bg-img.jpg");
  backdrop-filter: grayscale(1);
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
}

#coming-soon .middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.subtitle {
  margin-bottom: 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 700;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .toolbar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.img-profile-pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.form-new-product-btn-step {
  display: flex;
  align-items: flex-start;
}
.form-new-product-btn-step > * {
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .form-new-product-btn-step .label {
    display: none;
  }
}
#product-availability-table .product-availability-row:hover {
  background: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
#product-availability-table .product-availability-th i {
  color: red;
  display: none;
}
#product-availability-table .product-availability-cell.note {
  min-width: 272px;
}
#product-availability-table .product-availability-th.sorted i {
  display: block;
}

.point-on-hover:hover {
  cursor: pointer;
}

#product-availability-edit-modal #product-availability-edit-form {
  display: block;
}
#product-availability-edit-modal .modal-footer {
  display: flex;
}
#product-availability-edit-modal .loading-spinner {
  display: none;
}

#product-availability-edit-modal.loading #product-availability-edit-form {
  display: none;
}
#product-availability-edit-modal.loading .modal-footer {
  display: none;
}
#product-availability-edit-modal.loading .loading-spinner {
  display: block;
}

.user-product-menu {
  background-color: #fafbfc;
  box-shadow: inset 0 -1px 0 #eaecef;
}
.user-product-menu .breadcrumb {
  background-color: inherit;
  font-size: 1.2rem;
}
.user-product-menu .nav-pills-user-product {
  flex-wrap: nowrap;
  overflow-x: auto;
}
.user-product-menu .nav-pills-user-product .nav-link {
  margin-right: 10px;
}
.user-product-menu .nav-pills-user-product .nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #f62dae;
}

.dropdown.dropdown-custom-submenu .dropdown-menu .dropdown-menu {
  left: 100%;
  margin: 0;
  right: auto;
  top: 0;
}
.dropdown.dropdown-custom-submenu .dropdown-submenu {
  display: block;
  position: relative;
}
.dropdown.dropdown-custom-submenu .dropdown-submenu > .dropdown-menu::after {
  border: 0 !important;
}
.dropdown.dropdown-custom-submenu .dropdown-submenu > .dropdown-item:empty::after,
.dropdown.dropdown-custom-submenu .dropdown-submenu > .list-group-item:empty::after {
  margin-left: 0;
}
.dropdown.dropdown-custom-submenu .dropdown-submenu > .dropdown-item:after,
.dropdown.dropdown-custom-submenu .dropdown-submenu > .list-group-item:after {
  position: absolute;
  top: 50%;
  right: 1rem;
  margin-left: 0;
  font-size: 0.75rem;
  transform: translateY(-50%);
}
.dropdown.dropdown-custom-submenu .dropdown-submenu[data-toggle=hover] > .dropdown-menu {
  left: 100%;
  transform: translateX(0) translateY(-3px) scale(0.97);
}
.dropdown.dropdown-custom-submenu .dropdown-submenu[data-toggle=hover]:hover > .dropdown-menu {
  transform: translateX(0) translateY(-3px) scale(1);
}
.dropdown.dropdown-custom-submenu .dropdown-submenu > .list-group-item {
  border-width: 0 0 1px;
}
@media (max-width: 991.98px) {
  .dropdown.dropdown-custom-submenu .dropdown-submenu .dropdown-menu {
    padding: 0;
    box-shadow: none;
    top: 0;
  }
  .dropdown.dropdown-custom-submenu .dropdown-submenu .dropdown-item {
    padding-left: 3rem;
  }
}

#product-search-form-input-category .dropdown-menu {
  max-height: 400px;
  overflow-y: auto;
}
#product-search-form-input-category .dropdown-menu .dropdown-header {
  color: #7189ff;
}

#product-search-form-input-category button[data-toggle=dropdown],
#product-search-form-button-search {
  width: 100%;
}

#product-search-form-input-category-text {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.select2-selection.select2-selection--single {
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.select2-dropdown,
.select2-dropdown.select2-dropdown--below {
  border-top: 1px solid #ced4da !important;
  border-radius: 0.25rem;
}

.select2-selection__arrow {
  display: none;
}

.search-bar {
  border: 1px solid lightgrey;
  background: #fff;
  border-radius: 20px;
}
.search-bar .form-group {
  border-bottom: 1px solid #ddd;
}
.search-bar .form-row > * {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .search-bar {
    border-radius: 10rem;
    background: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  }
  .search-bar .form-group {
    position: relative;
    margin-bottom: 0;
    border: none;
  }
  .search-bar .form-group::after {
    display: block;
    width: 1px;
    height: 60%;
    content: "";
    background: #ddd;
    position: absolute;
    top: 20%;
    right: 0;
  }
  .search-bar .form-group.form-group-no-divider::after {
    display: none;
  }
  .search-bar .form-control {
    height: calc(1.5em + 1rem + 2px);
  }
  .search-bar .form-row > * {
    margin-bottom: 0px;
  }
}
.card-home-search-hero {
  height: 500px;
}
.card-home-search-hero .card-img-overlay {
  background-color: rgba(0, 0, 0, 0.55);
}
.card-home-search-hero img {
  background-color: rgba(0, 0, 0, 0.55);
  object-fit: cover;
  height: 100%;
}
.card-home-search-hero .title {
  font-size: 30px;
  text-align: center;
}
.card-home-search-hero .sub-title {
  font-size: 0.8rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .card-home-search-hero .title {
    font-size: 60px;
  }
  .card-home-search-hero .sub-title {
    font-size: initial;
  }
}

/*# sourceMappingURL=style.css.map */
