<!doctype html>
<html lang="en">

<head>
    {% include 'includes/header.html' %}
    <title>WMIYS</title>
</head>

<body>
    {% include 'includes/navbar.html' %}

    <div class="container mt-5">

        <h1 class="mb-3">Start earning on wmiys</h1>

        <p>Make money renting your belongings to people in your area.</p>

        <a href="/setup/payout-account/start" class="btn btn-lg btn-primary">Post an item</a>
        
    </div>

    {% include 'includes/footer.html' %}

</body>

</html>