<div class="col-sm-12 col-lg-4">
    <div class="card mb-3">
        <div class="card-body">
            <div class="profile-info d-flex flex-column align-items-center">
                <!-- cover pic -->
                <img src="/static/img/placeholder.jpg" class="img-fluid mb-3" alt="Product cover picture">
            </div>

            <div class="menu mt-4">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                    <a class="nav-link" id="product-edit-navbar-tab-edit"         href="/products/{{ product.id }}" role="tab">Overview</a>
                    <a class="nav-link" id="product-edit-navbar-tab-availability" href="/products/{{ product.id }}/availability" role="tab">Availability</a>
                    <a class="nav-link" id="product-edit-navbar-tab-settings"     href="#" role="tab">Settings</a>
                </div>
            </div>
        </div>
    </div>
</div>