<!doctype html>
<html lang="en">

<head>
    {% include 'includes/header.html' %}
    <title>Availability</title>
</head>

<body>
    {% include 'includes/navbar.html' %}
    <div class="container">
        <h1 class="my-5 text-center">Product Availability</h1>


        <table class="table" id="product-availability-table">
            <thead>
                <tr>
                    <th class="product-availability-th">Starts</th>
                    <th class="product-availability-th">Ends</th>
                    <th class="product-availability-th">Note</th>
                    <th class="product-availability-th">Created</th>
                    <th class="product-availability-th">Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr class="product-availability-row">
                    <td class="product-availability-cell">04/20/2021</td>
                    <td class="product-availability-cell">04/24/2021</td>
                    <td class="product-availability-cell">Jkalsdk kl;a jklasd  ajklsdfjaskldfj jaskdlfjasjdksjf ajsdkfasldjfa</td>
                    <td class="product-availability-cell">03/08/1996</td>
                    <td class="product-availability-cell">
                        <div class="d-flex">
                            <a href="#" class="mr-3">Edit</a>
                            <a href="#">Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>


    </div>


    {% include 'includes/footer.html' %}
    <script src="/static/js/pages/product-availability.js"></script>


</body>

</html>