<!doctype html>
<html lang="en">

<head>
    {% include 'includes/header.html' %}
    <title>Hello, world!</title>
</head>

<body>
    {% include 'includes/navbar.html' %}
    
    <div class="container">
        <div class="row mt-5">
            <!-- sidenav -->
            {% include 'pages/products/product-edit-navbar.html' %}
            
            <!-- content -->
            <div class="col-sm-12 col-lg-8">

                <h1>Individual Product Page</h1>
                

            </div>
        </div>



        
    </div>


    {% include 'includes/footer.html' %}
    <script src="/static/js/pages/product-page.js"></script>
</body>

</html>