<!DOCTYPE html>
<html lang="en">
<head>

    {% include 'includes/header.html' %}
    
    <!-- additional header css includes -->
    {% block head %}{% endblock %}
    
    <title>{% block title %}Account Settings{% endblock %}</title>
</head>
<body>

    {% include 'includes/navbar.html' %}

    <!-- section to display alerts -->
    <div class="alert alert-dismissible alert-top" role="alert" hidden>
        <span class="message">Account updated</span>
        <button type="button" class="close btn-close-alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


<div class="container mt-5">

    <div class="row">
        <!-- sidenav -->
        <div class="col-sm-12 col-lg-3">
            <div class="card card-account-settings-sidenav mb-3">
                <div class="card-body">
                    <div class="profile-info d-flex flex-column align-items-center">
                        <!-- profile pic -->
                        <img src="/static/img/placeholder.jpg" class="img-fluid img-profile-pic mb-3" alt="Profile picture">

                        <!-- user name -->
                        <p class="h5">
                            <span class="profile-info-name-first"></span>
                            <span class="profile-info-name-last"></span>
                        </p>
                    </div>

                    <div class="menu mt-4">
                        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                            <a class="nav-link" id="v-pills-general-tab"     href="/account-settings/general" role="tab">Personal info</a>
                            <!-- <a class="nav-link" id="v-pills-profile-tab"  href="/account-settings/general" role="tab">Login & security</a> -->
                            <a class="nav-link" id="v-pills-requests-tab" href="/account-settings/requests" role="tab">Submitted requests</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- content -->
        <div class="col-sm-12 col-lg-9">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>


<div class="mb-5"></div>
    
    
    {% include 'includes/footer.html' %}

    <!-- additional footer scripts -->
    {% block footer %}{% endblock %}

</body>
</html>