
{#
    Input parms:
        - userInfo
        - requests (list):
            - created_on
            - ends_on
            - fee_renter
            - id
            - location_city
            - location_id
            - location_state_id
            - location_state_name
            - num_days
            - price_full
            - price_total
            - product_id
            - product_name
            - product_image
            - renter_id
            - starts_on
            - status
#}

{% extends "pages/account-settings/base.html" %}
{% block title %}Requests submitted{% endblock %}


{% block content %}

    <h1 class="mb-5">Submitted Requests</h1>

    <div class="container container-requests-submitted">

        {% for request in requests %}
        <div class="card card-user-product mb-5" data-product-id="{{ request.id }}">
            <div class="row no-gutters">

                <!-- cover photo -->
                <div class="container-imgs col-md-4 col-sm-12 ">
                    <div class="container-img-pics w-100 h-100" style="background-image: url('{{ request.product_image }}');"></div>
                </div>

                <div class="col-md-8 col-sm-12">
                    <div class="card-body p-4 h-100">
                        <!-- product name -->
                        <div class="d-flex align-items-center justify-content-between">
                            <h4 class="card-lender-product-detail">{{ request.product_name }}</h4>
                        </div>

                        <div class="d-md-flex justify-content-between flex-wrap">

                            <div class="d-flex justify-content-between mb-3 d-md-block flex-wrap">
                                <!-- price -->
                                <div class="mb-md-3">
                                    <div><small class="text-muted font-weight-light">PRICE</small></div>
                                    <div class="h5">${{ request.total_charge }}</div>
                                </div>
                                
                                <!-- dropoff location -->
                                <div>
                                    <div><small class="text-muted font-weight-light">LOCATION</small></div>
                                    <div class="h5">{{ request.location_city }}, {{ request.location_state_id }}</div>
                                </div>

                            </div>
            
                            <div class="d-flex justify-content-between mb-3 d-md-block">
                                <!-- starts on -->
                                <div class="mb-md-3">
                                    <div><small class="text-muted font-weight-light">STARTS</small></div>
                                    <div class="h5">{{ request.starts_on }}</div>
                                </div>
            
                                <!-- ends on -->
                                <div>
                                    <div><small class="text-muted font-weight-light">ENDS</small></div>
                                    <div class="h5">{{ request.ends_on }}</div>
                                </div>
                            </div>
            
                            <div class="d-flex justify-content-between mb-3 d-md-block">
                                <!-- expires on -->
                                <div class="mb-md-3">
                                    <div><small class="text-muted font-weight-light">EXPIRES</small></div>
                                    <div class="h5">
                                        {% if request.status == 'pending' %}
                                        {{ request.hours_till_expiration }} hours
                                        {% else %}
                                        -
                                        {% endif %}
                                    </div>
                                </div>
        
                                <!-- status -->
                                <div>
                                    <div><small class="text-muted font-weight-light">STATUS</small></div>
                                    <span class="badge badge-{{ request.status_badge_class }}">{{ request.status }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>







{% endblock %}



{% block footer %}
<script src="/static/js/pages/account-settings/requests-submitted.js"></script>
{% endblock %}