<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180"    href="/static/img/favicon/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png" />
<link rel="manifest"                            href="/static/img/favicon/site.webmanifest" />

<!-- bootstrap -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" /> -->
<link rel="stylesheet" type="text/css" href="/static/css/external/bootstrap-custom/bootstrap-custom.css" />


<!-- custom font body -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Karla&family=Rubik:wght@500&display=swap" rel="stylesheet">

<!-- bootstrap select -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">

<!-- boxicons -->
<link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet' />

<!-- flatpickr: https://flatpickr.js.org/ -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />

<!-- jquery toast: https://kamranahmed.info/toast -->
<link rel="stylesheet" href="/static/css/external/jquery.toast.min.css">

<!-- select2: https://select2.org/ -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<!-- select2 bootstrap4 theme: https://github.com/ttskch/select2-bootstrap4-theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">

<!-- skeletons: https://skeleton-elements.dev/ -->
<link rel="stylesheet" href="/static/css/external/skeleton-elements.css">

<!-- filepond css -->
<link rel="stylesheet" href="/static/css/external/filepond/filepond.min.css">
<link rel="stylesheet" href="/static/css/external/filepond/filepond-plugin-image-preview.min.css">

<!-- personal css -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
